*{
	margin:0;
	padding:0;
}
body{
	background-color:#FAF8EF;
}
.clear{
	clear:both;
}
a{
	text-decoration: none;
}
#container{
	width:600px;
	background-color:#FAF8EF;
	margin:auto;
}
.header{
	margin-left:30px;
}
.title{
	margin-left:30px;
}

#container h1{
	font-size: 60px;
	margin-left:20px;
}
#container .title{
	padding-left:20px;
	color:#666;
}
#container .title .start{
	display: inline-block;
	width:140px;
	height:35px;
	background-color:#eee;
	border-radius: 8px;
	text-align: center;
	padding-top:4px;
	margin-left:30px;
}
#container .title .start a{
	font-size:18px;
	color:black;
	font-weight:bold;
	margin-top:10px;
}
.game-container{
	width:460px;
	height:460px;
	padding:20px;

	margin: 20px auto;
	position:relative;

	background-color:#BBADA0;
	border-radius:10px; 
}

.game-container .game-col{
	width:100px;
	height:100px;
	
	position:absolute;
	background-color:#CDC1B4;
	border-radius: 8px;	
}

.number-cell {
	width:100px;
	height:100px;
	font-size:60px;
	line-height:100px;
	text-align:center;

	position:absolute;
	border-radius:8px;
}


.end{
	margin-top:40px;
	margin-bottom:500px;
	text-align:center;
	font-size:30px;
	color:#666;
}